name: ci.yml
on:
  push:
    branches: [ "main" ]
jobs:
  setup_docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker
        run: docker --version

      - name: Build Docker Image
        working-directory: ./
        run: docker build -t my-bot:v1 .
