name: deploy.yml
on:
  push:
    branches: [ "main" ]
jobs:
  setup_docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker
        run: docker --version

      - name: Build Docker Image
        working-directory: ./
        run: docker build -t my-bot:v1 .

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.SERVER_HOST}}
          username: ${{secrets.SERVER_USER}}
          key: ${{secrets.SERVER_SSH_KEY}}
          port: ${{secrets.SERVER_PORT}}
          script: |
            cd ~/eye_warmup_bot || exit 1

            git pull

            docker stop eye_warmup || true
            docker rm eye_warmup || true

            docker build -t eye_warmup:latest .

            docker run -d --restart unless-stopped \
              --name eye_warmup \
              -e BOT_TOKEN=${{ secrets.BOT_TOKEN }} \
              eye_warmup:latest
